# ignore all dotfiles by except git specific ones
.*
!.gitignore
!.git*

# ignore all temporary files and bak files
*.bak
*~

# ignore .iml files for IDEA
*.iml

# ignore compilation related directories in the root of the project
/build
/dist
/lib

# ignore node modules
node_modules/
