.linkImage {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../assets/link.jpg");
    cursor: pointer;
}

.linkLabel {
    display: inline-block;
    cursor: pointer;
    color: #00c;
    text-decoration: none;
}

.linkLabel:hover {
    text-decoration: underline;
}

.dataTableFooter {
    width: 100%;
}

.paginationWrapper {
    display: inline-block;
    width: 59%;
}

.rowsPerPage {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.pageControls {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.refreshWrapper {
    display: inline-block;
    width: 41%;
    text-align: right;
}
